@import url('../assets/type/metropolis/metropolis.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #faf1f1;
  font-family: metropolisbold, Geneva, Tahoma, sans-serif;
  text-align: center;
}
  /*animation: pulse 3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  

@keyframes pulse {
  0% {
    background-color: #d477a4;
  }
  100% {
    background-color: #faf1f1;
  }
}
*/
#m1 {
  color: #8039b4;
  padding: 20px 0 10px 0;
  text-align: center;
  font-size: 4em;
}

#ratings {
  color: #8039b4;
  padding: 0 20px 20px 20px;
  font-size: 2em;
}

.flexbox-container {
  display: flex;
  /* justify-content: space-between; */
  /* justify-content: space-around; */
    justify-content: center;
  padding: 0 20px 20px 20px;
  width: 80%;
}

.button {
  margin: 2%;
  background-color: #4e39b4;
  color: #faf1f1;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  width: 250px;
  padding: 10px 0px;
  font-size: 1.4em;
  outline: none;
  border-style: none;
  border-width: 0px;
  font-family: metropolisbold, sans-serif;
  transition: 0.25s;
}

.button:hover {
  background-color: #342679;
}


.star {
  cursor: pointer;
}

.star::after {
  content: "";
  position: absolute;
  opacity: 0;
  border-radius: 5px;
  /*box-shadow: 0 5px 15px rgba(0,0,0,0.3);*/
  transition: opacity 0.5s ease-in-out;
}

.star:hover {
  transform: scale(1.6, 1.6);
}

.star:hover::after {
  opacity: 1;
}

@media only screen and (max-width: 768px) {
  .button {
    width: 80%;
  }
  #ratings {
    font-size: 1em;
  }
  #m1 {
    font-size: 3em;
  }
  .question {
    width: 90%;
  }
}

.content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

textarea {
  border: 1px solid #8039b4;
  border-radius: 8px;
  width: 100%;

  font-family: metropolisregular, sans-serif;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 1.2em;

  padding: 20px;

  border: solid;
  border-width: 1px;
  border-color: #490aaa;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none;
}

textarea::placeholder {
  color: #8039b4;
}

.question {
  width: 70%;
}
