body {
    background-color: #FAF1F1;

}

#m1 {
    background-color: #FAF1F1;
    color: #8039B4;
    padding: 20px;
    text-align: center;
}


#ratings {
    background-color: #FAF1F1;
    color: #8039B4;
    padding: 20px;

}


  .flexbox-container {
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    padding: 20px;


 }
 
 
 
 img:hover {
    
    background-image: url("Icon_material-star.svg") no-repeat;
     


 }