@import url('../assets/type/metropolis/metropolis.css');


* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }

body {
  background-color: #faf1f1;
  font-family: metropolisbold, Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  align-content: center;
  align-items: center;
  margin: auto;
}

.brand {
  background-color: #faf1f1;
  color: #8039b4;
  padding: 10px;
}

#conf_para {
  color: #8039b4;
  text-align: center;
  font-family: metropolisregular;
}

.slidecontainer {
  width: 70%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  background: #8039b4;
  background-image: linear-gradient(to right, #8039b4, #c31d6c);
  border-radius: 25px;
  outline:0;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #490aaa;
  border-radius: 25px;
  outline:0;
}

.flexbox-container {
  display: flex;
  justify-content: space-between;
  color: #c31d6c;
}

textarea {
  border: 1px solid #8039b4;
  border-radius: 8px;
  width: 100%;

  font-family: metropolisregular, sans-serif;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 1.3em;

  padding: 20px;

  border: solid;
  border-width: 1px;
  border-color: #490aaa;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none;
}

textarea::placeholder {
  color: #8039b4;
}

#msg {
  padding: 10px 0;
  color: #c31d6c;
}

#m3 {
  padding: 10px 0;
  color: #c31d6c;
}

input[type="submit"] {
  background-color: #490aaa;
  color: white;
  width: 150px;
  height: 30px;

  border: 1.1px solid #490aaa;
  border-radius: 8px;
}

.content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  /* .question {
    width: 80%;
  } */
  textarea {
    width: 100%;
    font-size: 1.1em;
    padding: 10px;
  }
  .slidecontainer {
    width: 80%;
  }

  #m1{
    font-size: 3em;
  }
}

.question{
   width:70%;
}

.button {
  margin: 2%;
  background-color: #4e39b4;
  color: #faf1f1;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  width: 250px;
  padding: 10px 0px;
  font-size: 1.4em;
  outline: none;
  border-style: none;
  border-width: 0px;
  font-family: metropolisbold, sans-serif;
  transition: 0.25s;
}

.button:hover {
  background-color: #342679;
}

#m1 {
  color: #8039b4;
  padding: 20px;
  padding-bottom: 0px;
  text-align: center;
  font-size: 3em;
}

