* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #faf1f1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  animation: pulse 3s ;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-iteration-count: infinite;
  text-align: center;
}

@keyframes pulse {
  0% {
    background-color: #d477a4;
  
  }
  100% {
    background-color  :#faf1f1;
  }
}
#m1 {
  
  color: #8039b4;
  padding: 20px;
  text-align: center;
  font-size: 4em;
}

#ratings {
  
  color: #8039b4;
  padding: 20px;
  font-size: 2em;

}

.flexbox-container {
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  padding: 20px;
  width: 80%;
}

.button {
  margin: 2%;
  background-color: #4e39b4;
  color: #faf1f1;
  height: 50px;
  width: 300px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  padding: 5px;
  font-size: 3vh;
  outline: none;
  border-style: none;
  border-width: 0px;
}

.button:hover {
  box-shadow: 0 10px 10px 0 rgba(214, 15, 15, 0.7);
}



.star {
  cursor: pointer;


}

.star::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 5px;
    /*box-shadow: 0 5px 15px rgba(0,0,0,0.3);*/
    transition: opacity 0.3s ease-in-out;
  }

.star:hover{
  transform: scale(1.2, 1.2);
}

.star:hover::after {
    opacity: 1;
  }
/* img:hover {
    
    background-image: url("Icon_material-star.svg") no-repeat;
     

@media only screen and (max-width: 768px) {
  .button {
    width: 80%;
  }
  #ratings{
    font-size: 1em;
  }
  #m1{
    font-size: 3em;
  }
  .question{
    width: 90%;
  }
}

.content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

textarea {
  text-align: center;
  border: 1px solid #8039b4;
  width: 98%;
  border-radius: 8px;
  width: 100%;
  font-size: 2em;

  border: solid;
  border-width: 3px;
  border-color: #490aaa;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none;
}

textarea::placeholder {
  color: #8039b4;
  text-align: center;
}


.question{
  width:70%;
}